<configuration>
	<localConfiguration>
		<testDir>example\path</testDir>
		<dimmConfiguration>
			<mountPoint>example\path1</mountPoint>
			<mountPoint>example\path2</mountPoint>
		</dimmConfiguration>
	</localConfiguration>
	<rasConfiguration>
		<phasesCount>2</phasesCount>
		<DUT>
			<address>[<user>@]<hostname>[:<port>]</address>
			<powerCycleCommand>script</powerCycleCommand>
			<binDir>example\path</binDir>
			<injectPolicy>all</injectPolicy>
		</DUT>
	</rasConfiguration>
</configuration>
