<configuration>
	<rasConfiguration>
                <DUT>
                        <address>[<user>@]<hostname>[:<port>]</address>
                        <powerCycleCommand>script</powerCycleCommand>
                        <binDir>example\path</binDir>
                </DUT>
        </rasConfiguration>
	<localConfiguration>
		<testDir>example\path</testDir>
		<dimmConfiguration>
			<mountPoint>example\path1</mountPoint>
			<mountPoint>example\path2</mountPoint>
		</dimmConfiguration>
	</localConfiguration>
	<remoteConfiguration>
		<testDir>example\path</testDir>
		<address>[<user>@]<hostname>[:<port>]</address>
		<binsDir>example\path</binsDir>
		<dimmConfiguration>
			<mountPoint>example\path1</mountPoint>
			<mountPoint>example\path2</mountPoint>
		</dimmConfiguration>
	</remoteConfiguration>
</configuration>
